@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{   
    font-family:  "Noto Sans", sans-serif;  
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}

:root{
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color:    #fff;

    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);

}


body {
    color: var(--text-color);
}

section {
    padding: 50px  100px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    /* background-color: var(--bg-color); */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    transition: 0.5s linear;
    margin-top: 20px;
}

.logo img {
    width: 70px;
    height: 70px;
    /* margin-top: 30px; */
    margin-inline-start: 20px;
}
.navbar {
    display: flex;
    gap: 1rem;
}
.navbar a {
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: var(--main-color);
    border-radius: 0.5rem;
    transition: 0.5s linear;
}

.header-icon {
    font-size: 1rem;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 2rem;
    margin-inline-end: 10px;

}

.header-icon .bx {
    color: var(--bg-color);

}

.header-icon .bx:hover {
    color: var(--main-color);
    transition: 0.5s linear;

}
#menu-icon{
     color: var(--bg-color);
     font-size: 18px;
     cursor: pointer;
     z-index: 100001;

}


.search-box {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
}

.search-box.active {
    top: 110%;
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}
.search-box input {
    width: 100%;
    height: 30px;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--main-color);

}
.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500; 
} 



.home {
    width: 100%;
    height: 100vh;
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(17rem, auto)); */
    align-items: center;
    
    gap: 1rem;
    margin: 0;
    /* padding: 0; */
    margin-right: 0;
}
.home-text h1{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 3.5rem;
    margin-top: 5.5rem;
    
}
.home-img {
   
    
    margin-top: -50rem;
    
}
.home-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-right: -60px;
    margin-bottom: -350px;
}

.home-text p {
    color: var(--bg-color);
    font-size: 1rem;
    margin-top: 0.3rem;
}
.btn {
    padding: 9px 30px;
    margin-left: -1px;
    margin-top: 1rem;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 0.5rem;
    font-weight: 500;
    
}
.btn:hover {
    background: #8a6f4d;
    
}
.about {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    /* align-items: center; */
    gap: 10rem;
    margin-top: 0;

}
.about-img {
    width : 400px;
    margin: 0 0 0 -50px;    
}

.about-img img {
    border-radius: 0.5rem;
    width: 450px;
    height: 350px;
    
}
.about-text {
    /* margin-left: ; */
    font-size: larger;
    font-weight: 300;
    width: 350px;
    
}
.about-text h2{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    justify-content: space-between;

}
.about-text p {
    font-size: 1rem;
    margin: 0.1rem 0rem 0.5rem;
}

.btn {
    padding: 8px 20px;
    font-size: 0.5rem;
    font-weight: 400;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.3rem;
}

.section {
   gap: 0.5rem;
   margin: 0;
   
}

.heading {
    text-align: center;
    
    
}
.heading h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;   
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
    margin-top: 2rem;
    justify-content: center;
    align-items: center; 
}

.container .box {
    position: relative;
    padding: 10px;
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    /* text-align: center; */
    margin-right: 40px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* 2 boxes per row */
    }
}
@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr; /* 1 box per row */
    }
}
.container img {
    width: 100%;
    height: 150px;
    object-position: center;
    object-fit: contain;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 0.5rem;
}

.container .box h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    /* margin: 0rem 0 0.5rem; */
}

.container .box .content span{
    padding: 0 1rem;
    color: var(--bg-color);
    background: var(--main-color);
    border-radius: 4px;
    font-weight: 400;

}
.container .box .content a{
    padding: 0 1rem;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    text-transform: uppercase;
    
}
.container .box .content a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s linear;
}

.customer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customer-container .box {
    
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
   
}

.stars .bx {
    color: var(--main-color);
    
}
.customer-container .box p {
    font-size: 0.938rem;
}
.customer-container .box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.customer-container .box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.customer-container .box:hover {
    background: var(--second-color);
    transition: 0.2s all linear;
}
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}

.footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;

}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

}
.social a .bx{
    font-size: 24px;
    color: var(--main-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.2rem;
}
.social a .bx:hover {
    color: var(--bg-color);
    background: var(--main-color);

}
.footer-box h3 {
    font-weight: 600;  
    margin-bottom: 10px;
}

.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover {
    color: var(--main-color);
  
}
.contact {
    display: flex;
    flex-direction: column;
    row-gap:0.5rem ;
}
.contact span {
    display: flex;
    align-items: center;
}
.contact i {
    font-size: 20px;
    margin-right: 1rem;
}

.copyright {
    padding: 20px;
    text-align: center;
    background: var(--second-color);
}








